body {
  background: #777;
}

div {
  width: 500px;
  margin: 200px auto;
  text-align: center;
}

img {
  height: 250px;
  width: 250px;
}

h1 {
  font-size: 40pt;
  color: #000;
  text-shadow: 2px 2px 5px #333;
}

h2 {
  font-size: 20pt;
  color: #222;
  text-shadow: 1px 1px 3px #333;
}

a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}